
@if (isLoggedIn)
{
<div class="container">
    <div>
        <form (ngSubmit)="onSubmit()" class="formgroup py-4 mt-4 mb-16 border-t flex flex-col gap-5 items-center">
            <div class="emailbox">
            <label for="email">E-mail :</label>
            <input type="text" placeholder="Email" name="email" [(ngModel)]="email" class="email input-field w-65" [disabled]="isDisabled"/>
          </div>
          <div class="usernamebox">
            <label for="username">User Name :</label>
            <input type="text" placeholder="Username" name="username" [(ngModel)]="userName" class="input-field w-65" (change)="onChange($event)" />
          </div>
          <!-- <div class="cpasswordbox">
            <label for="cpassword">Current password :</label>
            <input type="password" placeholder="Password" name="cpassword" [(ngModel)]="password" class="input-field w-65" (change)="onChange($event)"/>
          </div> -->
          <div class="passwordbox">
            <label for="password">New password :</label>
            <input type="password" placeholder="Password" name="password" [(ngModel)]="newPassword" class="input-field w-65" (change)="onChange($event)" />
          </div>
          <!-- Display error message if there's an error -->
          <p class="error-message" *ngIf="error">{{ error }}</p>
          <button type="submit" class="bg-green-700 p-3 text-white font-bold">Update</button>
          <br />
          <p class="success-message" *ngIf="updateSuccess">User details successfully updated!!</p>
          <div class="deletebutton">
            <p class="deltetext"> To delete your Account Press Delete Button Below</p>
            <button class="deleteButton" (click)="deleteUserData()">Delete</button>
        </div>
        </form>
    </div>
    
    
  </div>
}

@else{
    <div class="settingspage">
        <p class="carttext"> Please Login to see the Details </p>
        <button class="loginbutton" (click)=" clickLogin()"> Login Here </button>
    
    </div>
}
